pkgbase = omarchy-studio
	pkgdesc = One-stop theming cockpit for Omarchy — themes, keybinds, waybar, notifications, lock/idle (TUI + CLI)
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/arino08/omarchy-studio
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = omarchy-studio-0.9.0.tar.gz::https://github.com/arino08/omarchy-studio/archive/refs/tags/v0.9.0.tar.gz
	sha256sums = 0fbec264389d0269a736fb21b8efb4dead728798ff1c8f1db8e2d31a277ef347

pkgname = omarchy-studio
